* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
}

header {
    text-align: center;
    padding: 15px;
}

header nav {
    margin: 4px 0;
}

header nav ul {
    list-style-type: none;
    
}

header nav ul li {
    display: inline-block;
  
}

.content {
    flex-wrap: wrap;
    text-align: center;
}

body {
    padding: 50px;
}
  
.container {
    max-width: 100%;
    height: auto;
    justify-content: space-between;
    text-align: center;

}
.container_image {
    height: auto;
    width: 50%;
    justify-content: space-between;
    border-radius: 25px;
}


text {
    padding: 20px 40px 40px;
    max-width: 640px;
    display: flex;
    object-fit: contain;
    flex: 1 1 auto;
}


.work {

    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap;
    object-fit: scale-down;
    justify-content: space-between;
}

.TWAT {
    height: auto;
    width: 100%;
    justify-content: space-between;
    border-radius: 25px;
}


.row {
    display: flex;
    flex-wrap: wrap;
  }
  
.column {
    flex: auto;
    padding: 5px;
}



.jeep, .north, .dakota {
    text-align: center;
    flex-wrap: wrap;
    border-radius: 25px;

}

.project-picture {
    height: 200px;
    width: 250px;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 25px;

}



@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }